numpy==1.23.4  # векторные вычисления
omegaconf==2.2.3  # для чтения yml конфига для теста
opencv_python==4.6.0.66  # для чтения и сохранения изображений
psutil==5.9.4  # system monitoring (для сохрания в логи информации о машине, на которой запускается код)
